/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY OWN STYLES FROM HERE */

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../assets/fonts/Roboto-Bold.ttf');
}

body {
    height: 100vh;
    display: grid;
    grid-template: 1fr 7fr / 1fr 3.5fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main"
}

#sidebar {
    font-family: 'Roboto-Medium';
    grid-area: sidebar;
    display: grid;
    align-content: start;
    gap: 50px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #0087CE;
    color: white;
}

#logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    justify-self: center;
}

h1 {
    font-size: 30px;
}

#projects {
    display: grid;
    gap: 50px;
}

h2 {
    font-size: 24px;
}

#projects ul li {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
}

.project-name {
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: white;
}

.project-name:hover {
    color: gold;
}

#projects button {
    background: white;
    border: none;
    border-radius: 3px;
}

#projects button:hover {
    background-color:crimson;
}

#new-project {
    text-align: center;
}

#new-project button {
    padding: 10px 20px;
    background-color: #F59F27;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

#new-project button:hover {
    background-color: #f59f277b;
}

#header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-content: space-between;
    padding: 20px 40px 0px 40px;
    box-shadow: 2px 2px 5px #656565c2;
}

#subheader-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
}

#search {
    display: grid;
    grid-template-columns: 0.5fr 8fr;
    align-items: center;
}

input {
    background-color: #DDE4EE;
    border: none;
    width: 50em;
    height: 2.5em;
    border-radius: 2em;
    padding-left: 10px;
}

#user {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: end;
    align-items: center;
    gap: 30px;
}

#user p {
    font-family: 'Roboto-Bold';
    font-size: 18px;
}

.avatar-small {
    height: 50px;
    width: 50px;
}

#subheader-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
    align-items: center;
}

#main {
    padding: 30px 20px;
    background-color: #DDE4EE;
    grid-area: main;
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
}